@using WebApplication1.Models;
@{
    ViewBag.Title = "Результат";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<p>@ViewBag.Field1</p>
<p>@ViewBag.Field2</p>
@Html.CreateUnorderedList(ViewBag.Values as string[], "Значения:");
<p>@ViewBag.Choice</p>
